.home{
    display: flex;
    width: 100%;
    justify-content: space-between;
    overflow: hidden;
}

app-question{
    padding: 25px 0 25px 15px; 
}
p{
    margin:0;
}
mat-drawer-container{
    width: 69%;
    background-color: #F0F1F7;
}
mat-drawer{
    width: 100%;
}