<h1 class="header">الطلاب</h1>
<mat-divider></mat-divider>
<div class="test-bank-option" >
  <button class="Tbuttons" mat-raised-button   [routerLink]="'/MainView/pages/dashboard/add-student-upload'"> <i class="fas fa-user-plus"></i> إضافة طالب </button>
  <!-- <button *ngIf="optionMode" class="Tbuttons" mat-raised-button  (click)="students()"><i class="fas fa-users"></i> الطلاب </button> -->
</div>
<mat-accordion class="example-headers-align">
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        جميع الطلاب
      </mat-panel-title>
      <mat-panel-description>
        <i class="fas fa-users"></i>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div>
      <mat-form-field>
        <mat-label>بحث ... </mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
      </mat-form-field>
      <table mat-table [dataSource]="dataSource" class="">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="studentName">
          <th mat-header-cell *matHeaderCellDef> اسم الطالب </th>
          <td mat-cell *matCellDef="let element"> {{element.studentName}}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="studentNumber">
          <th mat-header-cell *matHeaderCellDef> رقم الطالب </th>
          <td mat-cell *matCellDef="let element">{{element.studentNumber}}</td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="level">
          <th mat-header-cell *matHeaderCellDef> المرحلة   </th>
          <td mat-cell *matCellDef="let element"> {{element.level}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef>  البريد الالكتروني </th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <ng-container matColumnDef="password">
          <th mat-header-cell *matHeaderCellDef> رقم دخول الطالب  </th>
          <td mat-cell *matCellDef="let element">  {{element.password}}  </td>
        </ng-container>

         <ng-container matColumnDef="update">
          <th mat-header-cell *matHeaderCellDef> تعديل </th>
          <td mat-cell *matCellDef="let element"  (click)="edit(element)"> <i class="fas fa-edit fa-lg iconU"></i> </td>
        </ng-container>

        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef>  تنشيط  </th>
          <td mat-cell *matCellDef="let element">
            <!-- <i class="fas fa-trash-alt fa-lg iconD"></i>  -->
            <mat-slide-toggle (click)="delete(element)" [(ngModel)]="element.isActive"></mat-slide-toggle>
          </td>
        </ng-container>

        <!--  <ng-container matColumnDef="courseNumber">
          <th mat-header-cell *matHeaderCellDef>رقم الامتحان</th>
          <td mat-cell *matCellDef="let element"> {{element.courseNumber}} </td>
        </ng-container>

        <ng-container matColumnDef="created">
          <th mat-header-cell *matHeaderCellDef>  تاريخ الانشاء </th>
          <td mat-cell *matCellDef="let element"> {{element.created | date:'medium'}} </td>
        </ng-container>

        <ng-container matColumnDef="opentExamDetails">
          <th mat-header-cell *matHeaderCellDef>  المزيد </th>
          <td mat-cell *matCellDef="let element"> <i class="fas fa-angle-double-right fa-2x cur"></i> </td>
        </ng-container> -->

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10,20]" [pageSize]="5" aria-label="Select page of users"></mat-paginator>
    </div>

  </mat-expansion-panel>
</mat-accordion>

