<div class="container">
    <div class="exam-info">
        <span>
            <strong>
                 {{title}}
            </strong>
        </span>
        <span>
            عدد الأسئلة: {{numberOfQusetion}}
        </span>
    </div>
        <div class="questions" *ngIf="loaded">
            <div class="question" *ngFor="let q of this.Questions;let i =index">
                <div class="q-and-num">
                <span dir="ltr">
                  <h4 class="question-number">Question {{q.num}}/{{ Questions.length}}</h4>
                  <p class="question-label">
                    {{q.label}}
                  </p>
                  <p>
                    Total Answers: {{q.total}}
                  </p>
                </span>
                <div *ngIf = "q.image !=''">
                  <img x="0" y="0" width="500" height="400" [src]="q.image | loadFile">
                </div>
                </div>
                <mat-radio-group
                class="example-radio-group"
                [(ngModel)]="q.studentAnswer"
                dir="rtl"
                >

                <div class="dive" *ngFor="let a of q.answers;let i =index">
                  <p class="number">-{{ i + 1 }}</p>
                <mat-radio-button  class="example-radio-button"  [value]="a.text">
                <div class="answer-percent">
                  <mat-label>
                  {{a.text}}
                </mat-label>
                <mat-label class="percent">
                  {{a.timesAnswered | calcpercentage : q.total | percent}}
                </mat-label>
                </div>
                </mat-radio-button>
              </div>
              </mat-radio-group>
          </div>
          </div>
  </div>
