.container{
    width: 100%;
    display: flex;
    background-color: rgb(35, 77, 94);
    align-items: center;
    justify-content: space-between;
}
.teacher-name,.logout-btn{
    padding: 0px 15px;
    background-color: rgb(35, 77, 94);
}

mat-toolbar {
  background-color: rgb(35, 77, 94);
  color: aliceblue;
  font-size: larger;
}
