.title{
    line-height: 30px;
    margin-bottom: 20px;
}
.title span{
    font-weight: 500;
    font-size: 18px;
    word-break: break-word;
}
.options{
    box-shadow: 1p 3px #5590CC;
    border: 1px solid #5590CC;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding: 20px;
    border-bottom: 4px solid #5590CC;
}
.option{
    display: flex;
    justify-content: space-between;
    margin: 8px 0;
    width: 100%
}
.option span{
    background-color: #6C757D;
    color: snow;
}
.op{
    display: flex;
    align-items: center;
}
.option span{
    border-radius: 69%;
    padding: 4px 8px;
    color: snow
}
.right-answer .op > p{
    color: #28A745;
}
.right-answer > span{
    background-color: #28A745;
}
.results{
    margin-top: 15px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    box-shadow: 2px 2px #ccc;
    align-items: center;
    border-left: 6px solid red;
}
.green-left-border{
    border-left:  6px solid #28A745;
}
.results i{
    font-size: 40px;
}
.results span{
    color: #6A6A6A;
    font-size: 12px;
}
.answer{
    display: flex;
    flex-direction: column;
}
.answer i{
    font-size: 20px;
}
.wrong-answer{
    color: red;
}
.right-answer{
    color: #28A745;
}
.anal,.time{
    display: flex;
    justify-content: space-evenly;
    width: 22%;
}

.anal > div, .time > div{
    display: flex;
    flex-direction: column;
}

.explanation{
    width: 100%;
    padding: 10px 0;
}

.explanation div{
    text-align: center;
    font-weight: 600;
    color: #1f1f1f;
    font-size: large;
    // border: 6.9px solid #ccc;
    padding: 6.9px;
    // border-radius: 4px;
    // box-shadow: 1px 2px 3px 1px;
    background-color: aliceblue;
}

.explanation img{
    border-radius: 8px;
    box-shadow: 1px 2px 6px 1px #669;
    margin-top: 10px;
}
