<div class="title" appAppBlockCopyPaste>
    <span appAppBlockCopyPaste>
        {{questionsTitle}}
        <div *ngIf = "currentQuestion?.imageQ !=''" >
          <img x="0" y="0" width="500" height="500" [src]="currentQuestion?.imageQ | loadImage">
        </div>
        <!-- <img class="explanation" style="width: 100%;" *ngIf="currentQuestion.imageQ" [src]="currentQuestion.imageQ | loadImage" alt=""> -->
    </span>
</div>
    <div class="options">
        <div *ngFor="let option of arrOfOptions;let i=index;" class="option"
        [ngClass]="{'right-answer': option.rightAnswer && showResults}" appAppBlockCopyPaste>
            <div class="op">
                <input type="radio" name="answer" [disabled]="showExplanation" (change)="answerSelected(option.text)">
                <p>{{option.text}}</p>
            </div>
            <span *ngIf="showResults">{{calcPercentage(questionTotal, option.timesAnswered) | percent}}</span>
        </div>
    </div>
    <div class="save-btn">
        <button *ngIf="showSaveButton" mat-stroked-button (click)="saveAnswerAndShowExplanation()">Save Answer</button>
    </div>
<div *ngIf="showResults" class="results" [ngClass]="{'green-left-border': isItTheRightAnswer}">
    <div class="answer">
        <p class="wrong-answer" [ngClass]="{'right-answer': isItTheRightAnswer}">
           {{isItTheRightAnswer ? 'Correct' : 'Incorrect'}}
           <i [ngClass]="isItTheRightAnswer ? 'fa-check' : 'fa-times'" class="fas"></i>
        </p>
        <span *ngIf="!isItTheRightAnswer">Correct Answer is: {{correctAnswer}} </span>
    </div>
    <div class="anal">
        <i class="far fa-chart-bar"></i>
        <div>
            <p>{{correctPercentage | percent}}</p>
            <span>Answered correctly</span>
        </div>
    </div>
</div>

<div *ngIf="currentQuestion?.explanation!= 'undefined' && showResults" class="explanation">
    <h3>Explanation:</h3>
    <div [innerHTML]="currentQuestion?.explanation || 'No Explanation'" style="text-align: left;">
    </div>
</div>
