<button style="margin-right: 30px;" mat-button (click)="createPdf()">Download PDF <i
    class="fas fa-file-download"></i></button>
<div id="download" [hidden]="true">
  <img #canvas>
    <a #downloadLink></a>
</div>
