.side{
  height: auto;
}
.question{
    padding: 4px;
    text-align: center;
    font-weight: bold;
}
.grey-q{
    background-color: #E3E3E3;
}

.question:hover, .active{
    background-color: #5590CC;
    color: snow;
}
