<div class="side">
    <div class="question" 
    (click)="getQuestion(i)"
    style="cursor: pointer;"
    [ngClass]="{'grey-q': i%2==0, 'active': acitveQ == i}" *ngFor="let item of questions; let i=index">
        {{i + 1}} 
    </div>
</div>