

  button {
    background-color: #0D71A4;
    color: #fff;
    // width: 25%;

  }
  table {
    width: 100%;
    overflow: auto;
  }
  .test-bank-option {
    margin: 0  100px;
  }
  .Tbuttons {
    margin-top: 7PX;
    margin-left: -20px;
    margin-bottom: 40px;
    width: 300px;
    height: 50px;
    font-size:  medium;
  }
  .header {
    text-align: center;
    margin-top: 20px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: xx-large;
  }
.iconD {
  color: red;
  cursor: pointer;
}

.iconU {
  color: rgb(0, 0, 0);
  cursor: pointer;
}

::ng-deep tr.mat-row, tr.mat-footer-row {
  height: 48px;
  // text-align: center;
}

::ng-deep  .mat-header-cell {
  font-size: 15px;
  font-weight: 500;
  // text-align: center;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;

}

.header {
  text-align: center;
  margin-top: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: xx-large;
}
button {
  background-color: #0d71a4;
  color: #fff;
  width: 25%;
  margin-left: 20px;
}


.divButton {
  display: inline;
}

.mat-pseudo-checkbox-checked{
  background: #0d71a4;
}
::ng-deep  .mat-pseudo-checkbox-checked, .mat-pseudo-checkbox-indeterminate, .mat-accent .mat-pseudo-checkbox-checked, .mat-accent .mat-pseudo-checkbox-indeterminate {
  background: #0d71a4;
}

.full-width {
  width: 35%;
  margin-left: 20px;
}


