.con{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.con:hover{
    cursor: pointer;
}
svg{
    width: 30px;
    height: 30px
}
span{
    font-size: 12px;
}
