<div class="con" (click)="addTrueVal()">
    <svg><svg id="labsIcon" viewBox="0 0 260 340"><rect x="59" y="30" width="140" height="200" rx="20" ry="20" fill="#ff0"></rect><rect x="175" y="14" width="55" height="290" rx="10" ry="10" fill="#ffc1cc"></rect><path d="M50,90 l-35,130 t-1,30 0,30 t48,20 130,-20 v-60 l-35-130 z" fill="#87ceeb"></path></svg></svg>
    <span>Lab Values</span>

</div>