<h1 class="header">علامات مادة {{courseName}}</h1>
<mat-divider></mat-divider>
<mat-accordion class="example-headers-align">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        فلتر
      </mat-panel-title>
      <mat-panel-description>
        <mat-icon matSuffix>filter_alt</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>بحث ... </mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="أبحث" #input>
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
  </mat-expansion-panel>
</mat-accordion>
<table mat-table [dataSource]="dataSource"  class="mat-elevation-z8" matSort>

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="studentName">
    <th mat-header-cell *matHeaderCellDef> اسم الطالب </th>
    <td mat-cell *matCellDef="let element"> {{element.studentsId.studentName}}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="studentNumber">
    <th mat-header-cell *matHeaderCellDef> رقم الطالب </th>
    <td mat-cell *matCellDef="let element">{{element.studentsId.studentNumber}}</td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="level">
    <th mat-header-cell *matHeaderCellDef> المرحلة </th>
    <td mat-cell *matCellDef="let element"> {{element.studentsId.level}} </td>
  </ng-container>

  <ng-container matColumnDef="degree">
    <th mat-header-cell *matHeaderCellDef> الدراجات </th>
    <td mat-cell *matCellDef="let element">
      <mat-form-field appearance="outline" fxFlex="30">
        <input matInput type="text" [disabled]="true" placeholder="العلامة" [(ngModel)]="points[element.studentsId._id]">
        <!-- <mat-icon matSuffix>assignment_turned_in</mat-icon> -->
       </mat-form-field>
    </td>
  </ng-container>

  <ng-container matColumnDef="editOtherMark">
    <th mat-header-cell *matHeaderCellDef> أخرى </th>
    <td mat-cell *matCellDef="let element"> {{element.otherExamMark}} </td>
  </ng-container>

  <ng-container matColumnDef="total">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> المجموع  </th>
    <td mat-cell *matCellDef="let element"> {{element.finalSum}} </td>
      <!-- <mat-form-field appearance="outline">
        <input matInput type="text" [disabled]="true" placeholder="العلامة" [(ngModel)]="studentMark[element.studentsId._id]">
       </mat-form-field> -->
  </ng-container>

  <ng-container matColumnDef="otherMark">
    <th mat-header-cell *matHeaderCellDef> تعديل العلامات الأخرى </th>
    <td mat-cell *matCellDef="let element">
      <mat-form-field appearance="outline" fxFlex="30">
        <input matInput type="text" placeholder="العلامة" [(ngModel)]="studentOtherMark[element.studentsId._id]">
        <!-- <mat-icon matTooltip="Save" (click)="saveOtherMark(element)" matSuffix>save</mat-icon> -->
       </mat-form-field>
    </td>
  </ng-container>
  <!-- Symbol Column -->
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> البريد الالكتروني </th>
    <td mat-cell *matCellDef="let element"> {{element.studentsId.email}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10]" [pageSize]="5" aria-label="Select page of users"></mat-paginator>
<br>
<div class="divButton">
  <!-- <app-pdf-maker></app-pdf-maker> -->
  <!-- <button mat-button style="margin-right: 30px;" (click)="exportArray()">
    تنزيل العلامات <mat-icon>folder</mat-icon>
  </button> -->
  <!-- <app-export-pdf [head]="head" [data]="pdfData" [title]="title" [imageData]="dataImage"></app-export-pdf> -->
  <button style="margin-right: 30px;" mat-button  (click)="saveCourseMarks()">حفظ العلامات<mat-icon>save</mat-icon> </button>
  <button mat-button (click)="saveOtherMark()" >حفظ العلامات الأخرى <mat-icon>save</mat-icon></button>
</div>
