<div class="container" *ngIf="isActive && numOfPages==2" >
    <div class="exam-info" appAppBlockCopyPaste>
        <span>
            <strong>
                 {{title}}-{{semester}}
            </strong>
        </span>
        <span>
          <strong>

          </strong>
        </span>
        <span>
            مدة الامتحان: {{from}} - {{to}}
        </span>
        <span >
          <countdown class="countdown" #countdown [config]="{leftTime: timeLeft}" (event)="onTimerFinished($event)" >$!m!:$!s!</countdown>
        </span>
        <span>
            عدد الأسئلة: {{numberOfQusetion}}
        </span>
        <button (click)="goToNotes()">الملاحظات</button>

    </div>
        <div class="questions" *ngIf="loaded" >
          <button (click)="goToNotes()">الملاحظات</button>
            <div class="question" appAppBlockCopyPaste *ngFor="let q of pages[currentPage].Questions;let i =index">
                <div class="q-and-num">
                  <!-- [ngClass]="{'answered': q.studentAnswer != ''}" -->
                <span dir="ltr">
                  <h4 class="question-number" >Question {{q.num}}/{{ Questions.length}}</h4>
                  <p class="question-label" >
                    {{q.label}}
                  </p>
                </span>
                <div *ngIf = "q.image !=''">
                  <img x="0" y="0" width="500" height="400" [src]="q.image | loadImage">
                </div>
                <!-- [src]="q.image | loadImage"> -->
                <!-- <span>  </span> -->
                <!-- {{q.label}} -->
                </div>
                <mat-radio-group
                class="example-radio-group"
                [(ngModel)]="q.studentAnswer"
                dir="rtl"
                >

                <div class="dive" *ngFor="let a of q.answers;let i =index">
                  <p class="number">.{{ i + 1 }}</p>
                <mat-radio-button  class="example-radio-button" [value]="a"
                (change)="onItemChange(a,q)">
                {{a}}
                </mat-radio-button>
              </div>

              </mat-radio-group>
          </div>
          </div>
        <div class="warn-messages" *ngIf="showError">
            <span *ngIf="answerBeforeyouGo" class="warn">Answer all Questions Before going to next page</span>
            <span *ngIf="finishExam" class="warn">All Questions must be answerd to finish the exam</span>
        </div>
        <span class="page" *ngIf="numOfPages==2">{{currentPage + 1 }}</span>

        <div class="wrapper">
          <button class="button" [disabled]="currentPage == Questions.length - 1" (click)="nextQuestion()">التالي</button>
          <button class="button" *ngIf="returnBack" [disabled]="currentPage==0" (click)="prevQuestion()">السابق</button>
          <span>
            <button class="button"   *ngIf="currentPage == Questions.length - 1"  (click)="submitData()">حفظ و انهاء</button>
            <!-- [disabled]="!everythingIsAnswerd()" -->
          </span>
        </div>
  </div>
  <div class="container" *ngIf="isActive && numOfPages==1">
    <div class="exam-info">
        <span>
            <strong>
                 {{title}}
            </strong>
        </span>
        <span>
            مدة الامتحان: {{from}} - {{to}}
        </span>
        <span >
          <countdown class="countdown" #countdown [config]="{leftTime: timeLeft}" (event)="onTimerFinished($event)" >$!m!:$!s!</countdown>
        </span>
        <span>
            عدد الأسئلة: {{numberOfQusetion}}
        </span>
        <button (click)="goToNotes()">الملاحظات</button>

    </div>
        <div class="questions" *ngIf="loaded" >
          <button (click)="goToNotes()">الملاحظات</button>
            <div class="question" appAppBlockCopyPaste *ngFor="let q of this.Questions;let i =index">
                <div class="q-and-num">
                  <!-- [ngClass]="{'answered': q.studentAnswer != ''}" -->
                <span dir="ltr">
                  <h4 class="question-number">Question {{q.num}}/{{ Questions.length}}</h4>
                  <p class="question-label" >
                    {{q.label}}
                  </p>
                </span>
                <div *ngIf = "q.image !=''">
                  <img x="0" y="0" width="500" height="400" [src]="q.image | loadImage">
                </div>
                <!-- [src]="q.image | loadImage"> -->
                <!-- <span>  </span> -->
                <!-- {{q.label}} -->
                </div>
                <mat-radio-group
                class="example-radio-group"
                [(ngModel)]="q.studentAnswer"
                dir="rtl"
                >

                <div class="dive" *ngFor="let a of q.answers;let i =index">
                  <p class="number">.{{ i + 1 }}</p>
                <mat-radio-button  class="example-radio-button" [value]="a"
                (change)="onItemChange(a,q)">
                {{a}}
                </mat-radio-button>
              </div>

              </mat-radio-group>

          </div>
          </div>
        <div class="warn-messages" *ngIf="showError">
            <span *ngIf="answerBeforeyouGo" class="warn">Answer all Questions Before going to next page</span>
            <span *ngIf="finishExam" class="warn">All Questions must be answerd to finish the exam</span>
        </div>
        <div class="wrapper">
          <button class="button"   *ngIf="!isLastPage" [disabled]="!everythingIsAnswerd()" (click)="submitData()">حفظ و انهاء</button>
        </div>
  </div>
<div class="finish" *ngIf="!isActive">
  خطأ لقد تم تقديم الامتحان
</div>

<div class="note">
  <label for="story">ملاحظة:</label>
  <textarea matInput type="text" placeholder="write note" [(ngModel)]="note"></textarea>
  <br/>
  <button  (click)="addNote()" style="width: 70px;">اضافة</button>
</div>
<a name="top" #top></a>
<div *ngIf="notes.length>0">
  <mat-list>
    <mat-list-item *ngFor="let note of notes" style="font-size: large; color: red;">
      {{note}}
    </mat-list-item>
  </mat-list>
</div>
<div id="download">
  <img #canvas>
</div>
