<app-header></app-header>
<mat-drawer-container dir="rtl" class="container" hasBackdrop="false">
  <mat-drawer #drawer mode="side"  opened="true">

      <a class="option createE" [routerLink]="['/MainView/pages/dashboard/add-teacher']" >
            <span>اضافة المعلميين</span>
            <i class="fas fa-users"></i>
      </a>

      <a class="option createE" [routerLink]="['/MainView/pages/dashboard/add-course']" >
            <span>اضافة مواد</span>
            <i class="fad fa-books"></i>
      </a>

      <a class="option createE" [routerLink]="['/MainView/pages/dashboard/add-student']" >
          <span>اضافة طلاب</span>
          <i class="fas fa-table"></i>
      </a>
      <a class="option createE" [routerLink]="['/MainView/pages/dashboard/view-exam']" >
            <span>طلبات الاعتماد</span>
            <i class="fas fa-table"></i>
      </a>
         <!-- <a class="option createE" [routerLink]="['/MainView/pages/dashboard/grades']" >
          <span>العلامات</span>
          <i class="fas fa-chart-line"></i>
      </a>
        <a class="option createE" [routerLink]="['/MainView/pages/dashboard/test-bank']" >
            <span>بنك الأسئلة</span>
            <i class="fas fa-university"></i>
        </a> -->
        <a class="option createE" [routerLink]="['/MainView/pages/dashboard/data']" >
          <span> Data</span>
          <i class="fas fa-chart-pie"></i>
      </a>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
