h1, h2 {
  text-align: center;
  margin-top: 300px;
}

h2 {
  text-align: center;
  margin-top: 20px;
}

.right{
  color: green;
}

.wrong{
  color: red;
}

.q {
  font-weight: bold;
  font-size: 22px;
  text-align: justify;

  /* color: #444; */
  color: rgb(207, 32, 32);
  /* margin: 3px; */
  /* border-radius: 4px; */
}
.questions-and-answers {
  padding: 30px;
}
