<app-header></app-header>
<mat-drawer-container dir="rtl" class="container" hasBackdrop="false">
  <mat-drawer #drawer mode="side"  opened="true">

        <a class="option createE" [routerLink]="['/MainView/pages/dashboard/marks']" >
            <span>العلامات</span>
            <i class="fas fa-chart-line"></i>
          </a>

        <a class="option createE" [routerLink]="['/MainView/pages/dashboard/exams']" >
            <span>الإمتحانات</span>
            <i class="fas fa-table"></i>
        </a>

        <!-- <a class="option createE" [routerLink]="['/MainView/pages/dashboard/courses']" >
            <span>المواد</span>
            <i class="fas fa-file-alt"></i>
        </a> -->
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
