<div class="container">
  <div class="row">
  <img src="assets/images/hu-form.png" alt="">

  <div class="form-row">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="my-form">
      <div appearance="fill" class="input-row">
        <mat-label>البريد الالكتروني</mat-label>
        <input matInput type="email" name="email" formControlName="email"
          [ngClass]="{ 'is-invalid': submitted && loginInfo.email.errors }" required>
        <div *ngIf="submitted && loginInfo.email.errors" class="invalid-feedback">
          <div *ngIf="loginInfo.email.errors.required">email is required</div>
        </div>
      </div>

      <div appearance="fill" class="input-row">
        <mat-label> كلمة المرور</mat-label>
        <input matInput type="password" name="password" formControlName="password"
          [ngClass]="{ 'is-invalid': submitted && loginInfo.password.errors }" required>
        <div *ngIf="submitted && loginInfo.password.errors" class="invalid-feedback">
          <div *ngIf="loginInfo.password.errors.required">Password is required</div>
        </div>
      </div>

      <div class="input-row" style="flex-direction: column;">
        <button [disabled]="loading" type="submit">دخول
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          <i class="fas fa-sign-in-alt"></i>
        </button>
        <!-- <button [routerLink]="['/auth/register']">إنشاء حساب</button> -->
      </div>
    </form>
  </div>
  </div>
</div>
