<div dir="rtl" class="container" >
    <div class="teacher-name">
        <mat-toolbar >
            <span> <i class="fa fa-user-circle fa-lg"></i>  مرحبا بك {{username?username:'no user found'}} - بوابة المعلم</span>
          </mat-toolbar>
    </div>
    <div class="logout-btn">
        <button color="warn" (click)="logout()" mat-raised-button><i class="fa fa-sign-out-alt"></i> تسجيل الخروج</button>
    </div>
</div>
