.example-container {
  width:  100%;
  height:  82vh;
  margin: 1px;
  border: 1px solid #555;
}

mat-drawer-content {
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}