<h1 mat-dialog-title dir="rtl" *ngIf="data.mode==0">إضافة طالب</h1>
<h1 mat-dialog-title dir="rtl" *ngIf="data.mode==1">تعديل طالب</h1>


<div class="container" dir="rtl">
  <form [formGroup]="registerForm">
    <mat-form-field>
      <mat-label> Student name</mat-label>
      <input type="text" matInput required formControlName="fullName">
    </mat-form-field>

    <mat-form-field>
      <mat-label> Email</mat-label>
      <input type="email" matInput required formControlName="email">
    </mat-form-field>

    <mat-form-field>
      <mat-label> Phone number </mat-label>
      <input type="text" matInput required formControlName="phoneNumber">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input [type]="hide ? 'password' : 'text'" matInput required formControlName="password">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>


    <mat-form-field >
      <mat-label>levels</mat-label>
      <mat-select formControlName="level" multiple>
        <mat-option *ngFor="let item of levels" [value]="item">
          {{item}}
        </mat-option>
      </mat-select>
    </mat-form-field>
<div class="divButton">
  <button mat-raised-button  (click)="onSubmit()" type="submit">حفظ</button>
  <!-- <button mat-raised-button *ngIf="data.mode==1" (click)="edit()" type="submit">حفظ</button> -->
  <button mat-button (click)="onNoClick()">إغلاق</button>
</div>
  </form>
</div>
