.container {
  display: flex;
  justify-content: center;
  padding: 10px;
}
form {
  width: 100%;
  // border: 2px solid #aaa;
  border-radius: 4px;
  padding: 7px;
  display: flex;
  box-shadow: 1px 2px 6px #eee;
  flex-direction: column;
}

button {
  background-color: #0d71a4;
  color: #fff;
  width: 25%;
  margin-left: 20px;
}


.divButton {
  display: inline;
}
.mat-dialog-override {
  mat-dialog-container {
    display: flex;
    flex-direction: column;

    mat-dialog-actions {
      margin-top: auto;
      min-height: 200px;
    }
  }
}
button {
  background-color: #0d71a4;
  color: #fff;
  width: 25%;
  margin-left: 20px;
}


.divButton {
  display: inline;
}

.mat-pseudo-checkbox-checked{
  background: #0d71a4;
}
::ng-deep  .mat-pseudo-checkbox-checked, .mat-pseudo-checkbox-indeterminate, .mat-accent .mat-pseudo-checkbox-checked, .mat-accent .mat-pseudo-checkbox-indeterminate {
  background: #0d71a4;
}

.full-width {
  width: 100%;
}


