.header {
  text-align: center;
  margin-top: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: xx-large;
}

.test-bank-option {
  margin: 0  250px;
}

button {
  background-color: #0D71A4;
  color: #fff;
}

.Tbuttons {
  margin-top: 100PX;
  margin-left: 10px;
  margin-bottom: 40px;
  width: 300px;
  height: 60px;
  font-size:  medium;
}
