<div class="container">
    <div class="row">
    <img src="assets/images/hu-form.png" alt="">
  
    <div class="form-row">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="my-form">
        <div appearance="fill" class="input-row">
          <mat-label> رقم الطالب</mat-label>
          <input matInput type="text" name="number" formControlName="number"
            [ngClass]="{ 'is-invalid': submitted && loginInfo.number.errors }" required>
          <div *ngIf="submitted && loginInfo.number.errors" class="invalid-feedback">
            <div *ngIf="loginInfo.number.errors.required">number is required</div>
          </div>
        </div>
  
        <div appearance="fill" class="input-row">
          <mat-label> كلمة المرور</mat-label>
          <input matInput type="password" name="password" formControlName="password"
            [ngClass]="{ 'is-invalid': submitted && loginInfo.password.errors }" required>
          <div *ngIf="submitted && loginInfo.password.errors" class="invalid-feedback">
            <div *ngIf="loginInfo.password.errors.required">Password is required</div>
          </div>
        </div>
  
        <div class="input-row" style="flex-direction: column;">
          <button [disabled]="loading" type="submit">دخول
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            <i class="fas fa-sign-in-alt"></i>
          </button>
          <!-- <button [routerLink]="['/auth/register']">إنشاء حساب</button> -->
        </div>
      </form>
    </div>
    </div>
  </div>
  