.container {
  display: flex;
  justify-content: center;
  padding: 10px;
  overflow-x: hidden;
}
form {
  width: 100%;
  // border: 2px solid #aaa;
  border-radius: 4px;
  padding: 7px;
  display: flex;
  box-shadow: 1px 2px 6px #eee;
  flex-direction: column;
}

button {
  background-color: #0d71a4;
  color: #fff;
  width: 25%;
  margin-left: 20px;
}


.divButton {
  display: inline;
}

::ng-deep .mat-dialog-container {
  display: block;
  padding: 24px;
  border-radius: 4px;
  box-sizing: border-box;
  overflow: auto;
  outline: 0;
  width: 100%;
  height: 81%;
  min-height: inherit;
  max-height: inherit;
}
