.footer{
    width: 100%;
    background-color: #234d5e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: snow;
}
.time{
    font-weight: bold;
    padding: 0 20px;
}

.end-quiz{
    padding: 4px;
}