.headeer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #234d5e;
}

.cont {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.resto {
  width: 100%;
  height: 100%;
  align-self: end;
  display: flex;
  flex-direction: row-reverse;
}
.teacher-name,
.logout-btn {
  padding: 0px 15px;
  background-color: #234d5e;
}

mat-toolbar {
  background-color: #234d5e;
  color: aliceblue;
  font-size: larger;
}

mat-drawer {
  background: #d2ddef;
  width: 19%;
  color: snow;
  text-align: center;
  overflow: hidden;
}
.drawer .option {
  width: 100%;
  height: 12%;
  border: 1px solid #888;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  transition: all 0.4s;
  font-size: 18px;
}
.drawer .option i {
  font-size: 40px;
  color: grey;
  transition: all 0.4s;
}
.addS {
  background: #5a9bd5;
  color: white;
}
.drawer .createE {
  background-color: #C8D5E7;
  color: snow;
}
.exams {
  background-color: #234d5e;
  color: snow;
}

.option i {
  color: #234d5e;
}
.icon {
  color: #234d5e;
}
::ng-deep .mat-drawer-content {
  position: relative;
  z-index: 1;
  display: block;
  height: 100%;
  overflow: hidden;
}


table {
  width: 100%;
}
.header {
  text-align: center;
  margin-top: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: xx-large;
}

.cur {
  cursor: pointer;
}
::ng-deep tr.mat-row,
tr.mat-footer-row {
  height: 48px;
  // text-align: center;
}

::ng-deep .mat-header-cell {
  font-size: 15px;
  text-align: center !important;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.full-width {
  width: 45%;
  margin-left: 20px;
}

.example-container {
  width: 100%;
  height: 90vh;
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.5);
  flex-direction: column;
}

.example-sidenav-content {
  // display: flex;
  height: 100%;
  align-items: baseline;
}

.example-sidenav {
  padding: 20px;
}
