<div class="cont">
   <div dir="rtl" class="headeer">
    <div class="teacher-name">
        <mat-toolbar >
            <span> <i class="fa fa-user-circle fa-lg"></i>  مرحبا بك {{username?username:'no user found'}} </span>
          </mat-toolbar>
    </div>
    <div class="logout-btn">
        <button color="warn" (click)="logout()" mat-raised-button><i class="fa fa-sign-out-alt"></i> تسجيل الخروج</button>
    </div>
</div>
<div class="resto">
  <mat-drawer-container class="example-container" autosize>
  <!-- <mat-drawer #drawer mode="side"  opened="true" class="drawer">
        <a class="option createE" [routerLink]="['/MainView/pages/dashboard/exams']" >
            <span class="icon">الإمتحانات</span>
            <i class="fas fa-file-alt" style="color: #234d5e;"></i>
        </a>
  </mat-drawer> -->
  <div style="width:100%; text-align: center;" class="example-sidenav-content">
    <table mat-table [dataSource]="dataSource"  class="mat-elevation-z8" >

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="courseNumber">
        <th mat-header-cell *matHeaderCellDef> رقم المادة </th>
        <td mat-cell *matCellDef="let element"> {{element.courseNumber}}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="courseName">
        <th mat-header-cell *matHeaderCellDef> اسم المادة </th>
        <td mat-cell *matCellDef="let element">{{element.courseName}}</td>
      </ng-container>

      <!-- Weight Column -->
       <ng-container matColumnDef="examDate">
        <th mat-header-cell *matHeaderCellDef> تاريخ الإمتحان </th>
        <td mat-cell *matCellDef="let element"> {{element.created | date:'medium'}} </td>
      </ng-container>

      <ng-container matColumnDef="start">
        <th mat-header-cell *matHeaderCellDef> ابدأ الامتحان </th>
        <td mat-cell *matCellDef="let element">
          <button  mat-raised-button  (click)="getQsForExam(element._id)">ابدأ</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10]" [pageSize]="5" aria-label="Select page of users"></mat-paginator>

  </div>
</mat-drawer-container>
</div>
</div>
