<div class="container">
    <div class="side100" >
        <app-side-questions (newQuestion)="gettingQuestionAndSedingItToHome($event)"></app-side-questions>
    </div >
    <div class="rest">        
        <app-header (headerLabValues)="gettingLabValuesAndSendingItToHome($event)"></app-header>
        <app-home [props]="obj" style=" background-color: #F0F1F7;height: 100%;
        display: flex"></app-home>
        <app-footer></app-footer>
    </div>
</div>
