/* You can add global styles to this file, and also import other style files */
.suc-snackbar {
  background: #21cc99;
  color: aliceblue;
}

.err-snackbar {
  background: #c73b22;
  color: aliceblue;
}
@import "~quill/dist/quill.bubble.css";
@import "~quill/dist/quill.snow.css";
html, body { height: 100%; }
html, body { height: 100%; }
body { margin: 0; padding: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
