table {
  width: 100%;
  overflow: auto;
font-size: large;
}

.iconU {
  color: rgb(9, 145, 88);
  cursor: pointer;
}

.cls {
  margin-right: 1100px;
  justify-content: end;
}

.warn {
  color: red;
}

.full-width {
  margin-right: 30px;
}

button {
  background-color: #0D71A4;
  color: #fff;
}
.divButton {
  margin-top: 20px;
  display: inline;
}
.mat-header-cell {
  // background: #56bcf0;
  font-size: large;

}

.mat-dialog-container {
    display: flex;
    flex-direction: column;
}

.mat-dialog-actions {
      margin-top: auto;
    }

