.header{
    width: 100%;
    background-color: #234d5e;
    display: flex;
    justify-content: space-between;
    color: snow;
    align-items: center;
}
.left-items,.right-items{
    display: flex;
    width: 22%;
}

.right-items{
    justify-content: flex-end;
}
.left-items{
    width: 40%;
}

span{
   font-size:12px;
}
.indicator{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border: 1px #888 solid;
    margin: 4px;
    font-weight: bold;
    padding: 4px;
}
svg{
    width: 30px;
    height: 30px
}
.mark{
    display: flex;
    justify-content: space-evenly;
    width: 24%;
    align-items: center
}

.mark i{
    color: red;
}

.re-color{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.re-color span{
    font-size: 12px;
}

.txt-zoom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
img{
    width: 69px;
}

.next-prev{
    display: flex;
    width: 30%;
    justify-content: space-evenly;
}
.btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn span{
    font-size: 12px;
}
