<div class="header">
    <div class="left-items">
        <div class="indicator">
            <p>Question {{examsService.currentQuestion}} of {{examsService.currentExam}}</p>
        </div>
        <div class="indicator" style="border: 0;">
            <button mat-raised-button color="warn" (click)="logout()">Logout</button>
        </div>
        <!-- <div class="mark">
            <mat-checkbox>
            </mat-checkbox>
            <i class="fas fa-flag"></i>
            <span>Mark</span>
        </div>
        <div class="next-prev">
            <div class="btn">
                <i class="fas fa-arrow-left"></i>
                <span>Prev</span>
            </div>
            <div class="btn">
                <i class="fas fa-arrow-right"></i>
                <span>Next</span>
            </div>
        </div> -->
    </div>
    <div class="right-items">
        <!-- <div class="re-color">
            <svg><svg id="invertIcon" viewBox="4 2 28 32"><path style="fill:#F8F8F8;stroke:#333;stroke-width:1" d="m 31,17.5 a 13,13 0 1 1 -26,0 13,13 0 1 1 26,0"></path><path style="fill:url(#lg1);stroke:#111;stroke-width:1" d="m 29,11 a 12,12 0 0 1 -22,13 z"></path><path style="fill:#111" d="m 28,11 a 11,11 0 0 1 -21.5,12.5 z"></path></svg></svg>
            <span>Reverse Color</span>
        </div> -->
        <app-lab-values (labValues)="sendInput($event)"></app-lab-values>
        <!-- <div class="txt-zoom">
            <img src="../../../assets/images/TextZoom@3x1.png" alt="">
            <span>Text Zoom</span>
        </div> -->
    </div>
</div>
